/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
main {
  width: 70%;
  margin: auto;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 59px;
  margin: auto;
  background-color: black;
  color: white;
}
.top-bar i {
  margin-right: 10px;
}

section {
  margin: 50px 0;
}
.introduction {
  margin-top: 150px;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
.modify-bloc {
  gap: 30px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.modify {
  margin-top: 10px;
  cursor: pointer;
}
.modify i {
  margin-right: 10px;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;

  width: 85%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  display: inline-block;
}
#portfolio .title-container {
  display: flex;
  gap: 30px;
  align-items: start;
  justify-content: start;
}
a.js-modal {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  font-size: 16px;
  text-decoration: none;
}
.modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 630px;
  height: auto;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #fff;
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400vh;
  background: rgba(16, 4, 4, 0.341); /* Fond semi-transparent */
  z-index: 0; /* Assurez-vous que l'overlay est en dessous de la modal */
}
.modal-wrapper {
  background-color: #fff;
  padding: 10px;
  width: 465px;
  margin: auto;
}
h2#titlemodal2,
h2#titlemodal {
  display: flex;
  font-weight: 400;
  font-size: 26px;
  justify-content: center;
  margin-top: 10px;
  color: black;
}
h2#titlemodal2 {
  margin-left: 5%;
}
.modal-gallery {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  border-bottom: 1px solid #b3b3b3;
  padding: 0 20px 50px;
  gap: 25px 10px;
  box-sizing: border-box;
}
.close-button,
.js-modal-close {
  position: absolute;
  right: 25px;
  top: 25px;
  margin: auto;
  border: none;
  background-color: #fff;
  font-size: 24px;
}
.fa-arrow-left {
  position: absolute;
  right: 35rem;
}

.modal-wrapper.js-modal-stop {
  margin: auto;
  margin-top: 40px;
}
.modal-gallery .photo img {
  width: 77px; /* Ajustez la taille selon vos besoins */
  height: 100px; /* Maintenir le ratio d'aspect */
}
.modal-gallery .photo {
  position: relative; /* Pour positionner l'icône de suppression */
  margin: 0; /* Supprime les marges */
  padding: 0; /* Supprime les espacements */
}
/* Style pour l'icône de suppression */
.delete-icon {
  position: absolute;
  color: #fff;
  top: 5px;
  right: 5px;
  background-color: black;
  border-radius: 15%;
  padding: 5px;
  cursor: pointer;
  font-size: 10px;
  z-index: 1002; /* Assurez-vous que l'icône est au-dessus de l'image */
}

.valid-Form,
.add-Photo {
  height: 37px;
  width: 237px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 30px;

  margin-top: 30px;
  border-radius: 25px;
  color: #fff;
  background-color: #1d6154;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.valid-Form {
  margin-left: 20%;
}
#addPhotoForm {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.valid-Form:disabled {
  background-color: grey; /* Couleur de fond grisée */
  cursor: not-allowed; /* Curseur non autorisé */
  opacity: 0.5; /* Opacité réduite */
}
.input-category,
.input-title {
  width: 420px;
  height: 51px;
  box-shadow: 0 10px 16px rgba(54, 53, 53, 0.123);
  border: none;
}
.label-category {
  margin-top: 20px;
}
.form-group-category,
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-group-category label,
.form-group label {
  margin-bottom: 5px;
}
.input-group {
  margin: auto;
  border-bottom: 1px solid #b3b3b3;
  width: 100%;
  max-width: 420px;
  padding-bottom: 50px;
}
#addPhotoForm input#photoFile {
  display: none;
}

.input-container {
  position: relative;
  width: 420px;
  height: 169px;
  background-color: #ebf1f6;

  margin: 25px 0;
}

.icon {
  position: absolute;
  transform: translateY(-50%);
  font-size: 64px;
  color: #b3b3b3;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23%;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  gap: 10px;
  flex-direction: column;
}
.button-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  background-color: #d5d1d1;
  width: 137px;
  height: 36px;
}

#photoPreview {
  position: absolute;
  display: none;
  max-width: 420px;
  max-height: 169px;
  top: 31%;
  left: 54%;
  transform: translate(-50%, -50%);
}
#photoFile {
  height: 170px;
}
#photo-info {
  font-size: 10px;
}

.add-slide {
  display: flex;
  flex-direction: column;
}

.Elmt {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 590px;
}
.category-button {
  position: relative;
  top: 50%;
  height: 37px;
  width: auto;
  padding: 0 20px;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 25px;
  color: #1d6154;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.category-button:hover {
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#login,
#contact {
  width: 50%;
  margin: auto;
}
#login {
  margin-top: 100px;
  margin-bottom: 300px;
}

a:hover {
  color: #b1663c;
}
#login > *,
#contact > * {
  text-align: center;
}
#login h2,
#contact h2 {
  margin-bottom: 20px;
}
#login form,
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#login input,
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label,
#contact label {
  margin: 2em 0 1em 0;
}
#login label {
  font-weight: bold;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
.error-message {
  color: red;
  font-size: 1.2em;
  margin: auto;
  margin-top: 10px;
}
a {
  color: black;
  margin: auto;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
